.#{$la-css-prefix}-arrow-down:before { content: la-content($la-arrow-down); }
.#{$la-css-prefix}-envelope:before { content: la-content($la-envelope); }
.#{$la-css-prefix}-search:before { content: la-content($la-search); }
.#{$la-css-prefix}-user:before { content: la-content($la-user); }
.#{$la-css-prefix}-heart-o:before { content: la-content($la-heart-o); }
.#{$la-css-prefix}-paper-plane:before { content: la-content($la-paper-plane); }
.#{$la-css-prefix}-long-arrow-left:before { content: la-content($la-long-arrow-left); }
.#{$la-css-prefix}-long-arrow-right:before { content: la-content($la-long-arrow-right); }
.#{$la-css-prefix}-star:before { content: la-content($la-star); }
.#{$la-css-prefix}-plus:before { content: la-content($la-plus); }
.#{$la-css-prefix}-map-marker:before { content: la-content($la-map-marker); }
.#{$la-css-prefix}-phone:before { content: la-content($la-phone); }
.#{$la-css-prefix}-keyboard-o:before { content: la-content($la-keyboard-o); }
.#{$la-css-prefix}-unlink:before { content: la-content($la-unlink); }
.#{$la-css-prefix}-angle-down:before { content: la-content($la-angle-down); }
.#{$la-css-prefix}-file-text:before { content: la-content($la-file-text); }
.#{$la-css-prefix}-briefcase:before { content: la-content($la-briefcase); }
.#{$la-css-prefix}-area-chart:before { content: la-content($la-area-chart); }
.#{$la-css-prefix}-edit:before { content: la-content($la-edit); }
.#{$la-css-prefix}-list-ul:before { content: la-content($la-list-ul); }
.#{$la-css-prefix}-graduation-cap:before { content: la-content($la-graduation-cap); }
.#{$la-css-prefix}-lock:before { content: la-content($la-lock); }
.#{$la-css-prefix}-sign-out:before { content: la-content($la-sign-out); }
.#{$la-css-prefix}-pencil-square:before { content: la-content($la-pencil-square); }
.#{$la-css-prefix}-heart:before { content: la-content($la-heart); }
.#{$la-css-prefix}-close:before { content: la-content($la-close); }
.#{$la-css-prefix}-money:before { content: la-content($la-money); }
.#{$la-css-prefix}-key:before { content: la-content($la-key); }
.#{$la-css-prefix}-home:before { content: la-content($la-home); }
.#{$la-css-prefix}-times:before { content: la-content($la-times); }
.#{$la-css-prefix}-newspaper-o:before { content: la-content($la-newspaper-o); }
.#{$la-css-prefix}-star-o:before { content: la-content($la-star-o); }
