.bc-content-item {
    padding: 10px 0;
    .box-image-left img {
        width: 100%;
        height: 180px;
        object-fit: cover;
        object-position: center center;
    }
    .box-content-item-info {
        .bc-title-item {
            font-size: 22px;
            a {
                color: #171717;
                font-weight: 600;
            }
        }
        .bc-description {
            color: #666;
            text-align: justify;
            margin-bottom: 0.5rem;
        }
        .box-icon-info-auth {
            margin-bottom: 10px;
            span {
                color: #666;
                font-size: 12px;
                margin-right: 10px;
            }
            img {
                width: 18px;
                height: 18px;
                border-radius: 50%;
                margin-top: -3px;
            }
        }
    }
    .load__more {
        display: block;
        margin-top: 10px;
        color: #007bff;
    }
    .load__more:hover {
        color: #0056b3;
    }
}